<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            添加类别
            <small></small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">添加类别</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="AccessKey">AccessKey</label>
                        <input type="email" class="form-control" id="AccessKey" placeholder="请输入AccessKey">
                    </div>
                    <div class="form-group">
                        <label for="SecretKey">SecretKey</label>
                        <input type="password" class="form-control" id="SecretKey" placeholder="请输入SecretKey">
                    </div>
                    <div class="form-group">
                        <label for="BucketName">存储空间</label>
                        <input type="password" class="form-control" id="BucketName" placeholder="请输入存储空间">
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>