<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            新增产品体验
            <small></small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- general form elements -->
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">新增产品体验</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action='/admin/product_add' method='post'>
                <div class="box-body">
                    <div class="form-group">
                        <label>所属分类</label>
                        <select class="form-control">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="请输入标题">
                    </div>
                    <div class="form-group">
                        <label for="code">编号</label>
                        <input type="text" name="code" class="form-control" id="code" placeholder="请输入编号">
                    </div>
                    <div class="form-group">
                        <label for="tag">标签(以英文逗号相隔,如欧式,简约)</label>
                        <input type="text" name="tag" class="form-control" id="tag" placeholder="请输入标签,如欧式,简约">
                    </div>
                    <div class="form-group">
                        <label for="search">搜索关键字(以英文逗号相隔,如卧室,最便宜)</label>
                        <input type="text" name="search" class="form-control" id="search" placeholder="请输入搜索关键字,如卧室,最便宜">
                    </div>
                    <div class="form-group">
                        <label for="search">筛选条件别名(以英文逗号相隔,如ws,jy)</label>
                        <input type="text" name="search" class="form-control" id="search" placeholder="请输入筛选条件别名,如ws,jy">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="skPic">请上传封面图</label>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://placehold.it/900x500/39CCCC/ffffff&text=I+Love+Bootstrap" alt="First slide">

                                    <div class="carousel-caption">
                                    First Slide
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://placehold.it/900x500/3c8dbc/ffffff&text=I+Love+Bootstrap" alt="Second slide">

                                    <div class="carousel-caption">
                                        Second Slide
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://placehold.it/900x500/f39c12/ffffff&text=I+Love+Bootstrap" alt="Third slide">

                                    <div class="carousel-caption">
                                        Third Slide
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                        <input type="file" id="exampleInputFile">
                    </div>
                    
                    <div class="form-group">
                        <label for="description">请输入描述</label>
                        <textarea id="description" placeholder="请输入描述" style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">请输入产品细节</label>
                        <textarea class="textarea" id="description" placeholder="请输入产品细节" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            <input value="1" type="radio" name="isVisible" class="minimal-red" checked>
                            对外可见
                        </label>
                        <label>
                            <input value="0" type="radio" name="isVisible" class="minimal-red">
                            对外隐藏
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input value="1" type="radio" name="isIndex" class="minimal-red" checked>
                            首页可见
                        </label>
                        <label>
                            <input value="0" type="radio" name="isIndex" class="minimal-red">
                            首页不可见
                        </label>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
{{#section 'wysihtml5'}}
<!-- Bootstrap WYSIHTML5 -->
<!-- Bootstrap slider -->
<script src="/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script>
  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>
{{/section}}