<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            新增产品体验
            <small></small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- general form elements -->
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">新增产品体验</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action='/admin/product_add' method='post'>
                <div class="box-body">
                    <div class="form-group">
                        <label>所属分类</label>
                        <select class="form-control">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="请输入标题">
                    </div>
                    <div class="form-group">
                        <label for="code">编号</label>
                        <input type="text" name="code" class="form-control" id="code" placeholder="请输入编号">
                    </div>
                    <div class="form-group">
                        <label for="tag">标签(以英文逗号相隔,如欧式,简约)</label>
                        <input type="text" name="tag" class="form-control" id="tag" placeholder="请输入标签,如欧式,简约">
                    </div>
                    <div class="form-group">
                        <label for="search">搜索关键字(以英文逗号相隔,如卧室,最便宜)</label>
                        <input type="text" name="search" class="form-control" id="search" placeholder="请输入搜索关键字,如卧室,最便宜">
                    </div>
                    <div class="form-group">
                        <label for="search">筛选条件别名(以英文逗号相隔,如ws,jy)</label>
                        <input type="text" name="search" class="form-control" id="search" placeholder="请输入筛选条件别名,如ws,jy">
                    </div>
                    <div class="form-group">
                        <label for="skPic">请上传封面图(只需要一张图片)</label><br>
                        <div class="row">
                            <div class="col-md-4">
                                <img style="position:relative; width: 100%" src="http://www.snimay.com/Uploads/Album/20160625/original_img/201606251608541744.jpg" alt="" >
                                <button type="button" style="position: absolute;top: 10px;right: 30px;" class="btn btn-default btn-xs" title="Remove">
                                     <i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <input type="file">
                    </div>
                    <div class="form-group">
                        <label for="description">请输入描述</label>
                        <textarea id="description" placeholder="请输入描述" style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">请输入产品细节</label>
                        <textarea class="textarea" id="description" placeholder="请输入产品细节" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            <input value="1" type="radio" name="isVisible" class="minimal-red" checked>
                            对外可见
                        </label>
                        <label>
                            <input value="0" type="radio" name="isVisible" class="minimal-red">
                            对外隐藏
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input value="1" type="radio" name="isIndex" class="minimal-red" checked>
                            首页可见
                        </label>
                        <label>
                            <input value="0" type="radio" name="isIndex" class="minimal-red">
                            首页不可见
                        </label>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
{{#section 'wysihtml5'}}
<!-- Bootstrap WYSIHTML5 -->
<!-- Bootstrap slider -->
<script src="/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script>
  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>
{{/section}}