	{{#contentFor 'seo'}} 
	<title>{{website.title}}_关于我们</title> 
	<meta name="description" content="{{model.description}}" />
	<meta name="keywords" content="{{model.title}}" />
	{{/contentFor}} 
<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6">
						<a style="color:#828282" name="gsjj" class="desc">
							<h3>公司简介</h3>
							<p>广州市诗尼曼家居有限公司成立于2003年，总部位于广州市番禺区，占地总面积200余亩，旗下拥有“诗尼曼全屋定制”和“诗尼曼门窗”两大定制核心体系，产品涵盖衣柜、门窗、沙发、床、床垫等多种品类，形成多元化、全方位的定制家居产业格局。公司采用先进的德国豪迈生产线，全自动化、数控化开料、排孔、封边，生产能力与国际接轨。</p> 
						</a>
						<a style="color:#828282" name="gsry" class="desc">
							<h3>荣誉证书</h3>
							<p>诗尼曼全屋定制拥有超过800家专卖店，诗尼曼门窗作为后起之秀已拥有近200家专卖店，覆盖全国30余省、市、自治区。并进一步升级全球化战略，将诗尼曼品牌推广到迪拜、阿联酋、加拿大、西班牙、澳大利亚等世界各地，随时随地为客户提供个性化定制服务。</p> 
							<p>13年风雨深耕，诗尼曼以连续十年70%的稳定发展，创造了中国衣柜行业黄金增长法则，是全国工商联衣柜专委会执行会长单位，通过中国环境标志产品认证，并先后荣获消费者最喜爱衣柜品牌、中国衣柜行业设计金奖、家居行业优质服务品牌、中国定制家居行业百强品牌荣誉：十大定制衣柜品牌+环保示范品牌、行业最具竞争力品牌、十大网络影响力零醛家居品牌等多项重量级荣誉。</p>
						</a>
						<a style="color:#828282" name="qysm" class="desc">
							<h3>企业使命</h3>
							<p>诗尼曼家居始终肩负着为人类创造健康、环保、时尚的家居生活为使命，秉承诚信、专业、开拓、创新的理念，不断前进，不断超越，不断朝着“成为全球绿色家居第一品牌”的目标迈进。诗尼曼将“人无我有、人有我变”的原创理念彻底融入产品，打造中国人的全新居家生活方式。引领时尚家居，打造健康生活，不断推陈出新，使消费者能够充分体验到定制家居所带来的便捷性和个性化。</p> 
							<p>2011年，公司与环保板材供应商达成战略合作，研发出“茉乐系列”禾香板健康衣柜，成功引领中国进入健康环保、绿色低碳、无污染的家居新时代。</p>
						</a>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="http://www.snimay.com/Public/Admin/kindeditor/attached/image/20160704/20160704163232_43029.jpg" alt="about">
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="http://www.snimay.com/Public/Admin/kindeditor/attached/image/20160705/20160705162324_12637.jpg" alt="about">
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="http://www.snimay.com/Public/Admin/kindeditor/attached/image/20160823/20160823153432_42338.jpg" alt="about">
					</div>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>品牌愿景</h2>
					<p>2015年，诗尼曼签约著名影视巨星海清为品牌形象代言人，并率先提出“大家居、大电商”发展战略，为消费者提供真正的一站式、一体化、个性化的“绿色高端定制”服务。诗尼曼家居始终肩负着为人类创造健康、环保、时尚的家居生活为使命，秉承诚信、专业、开拓、创新的理念，不断前进，不断超越，不断朝着“成为全球绿色家居第一品牌”的目标迈进。</p>
				</div>
			</div>
		</div>
	</div>